/* Style for Country Capital Quiz */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.quiz-container {
   width: 800px;
   margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 50px;
  }
  
  #question, #progress {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: sans-serif;

  }
  .box {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;

  }
  #options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #options button:hover {
    background-color: #e5e5e5;
  }
  
  #nextButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #nextButton:hover {
    background-color: #3e8e41;
  }
  
  #result {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  
  #score {
    font-size: 18px;
    text-align: center;
  }
  /* General Styles */

  
  /* Mobile-Specific Styles */
  @media  (1000px > width > 600px) {
    /* Adjust styles for smaller screens */
    .quiz-container {
      width: 100%;
      padding: 30px;
      margin-top: 30%;
      gap: 50px;
      border: none;
      box-shadow: none  ;
    }
    h1{
      font-size: 80px;
    }
    #options button {
      font-size: 50px;
      padding: 25px;
      margin-top: 20px;
    }
    .box{
      flex-direction: column;
    }
    #question, #progress, #nextButton{
      font-size: 50px;

    }

  }
